<div id="main-container">
  <header data-role="header" data-position="fixed" data-theme="b" id="homepage">
    <img src="/images/you-act-on-it-header.png"/>
     <a href="/create" data-icon="plus" class="ui-btn-right ui-btn ui-btn-b ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-plus" data-transition="flip">Create</a>
  </header>
  <ul data-role="listview">
    {{#each object.activities}}
    <li>
      <a href="/details/{{activity_id}}" class="listing" data-transition="slide">
        <img src="{{visual_asset}}" style="max-width:120px;height: 100px;max-height: 120px;" />
        <h2 style="margin-left:25px">{{title}}</h2>
        <p style="margin-left:25px"><strong>{{activity_location}}</strong></p>
        <p style="margin-left:25px">{{create_date}}</p>
      </a>
    </li>
    {{/each}}
  </ul>
</div>
