<div id="main-container">
  <header data-role="header" data-position="fixed" data-theme="a">
    <h1>Youth Act On It</h1>
  </header>
  <ul data-role="listview">
    {{#each object.activities}}
    <li>
      <a href="/details/{{activity_id}}" class="listing" data-transition="slide">
        <img src="{{visual_asset}}" style="max-width:120px;height: 100px;max-height: 120px;" />
        <h2 style="margin-left:25px">{{title}}</h2>
        <p style="margin-left:25px"><strong>{{activity_location}}</strong></p>
        <p style="margin-left:25px">{{create_date}}</p>
      </a>
    </li>
    {{/each}}
  </ul>
</div>
